<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include header %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-12" style="margin-top: 20px;">
                <h3>About Us</h3>
                <p>The Search Dashboard is a small search engine used in small organisations or Firms to research about itself. The Search Dashboard provides users with categories and sub-categories to choose from and get search results only from chosen categories. Which will in a way save user's time and input data.</p>
                <p>Contact Email : <a href="mailto:admin@searchdashboard.com">admin@searchdashboard.com</a></p>
            </div>
        </div>
    </section>
</div>
<% include footer %>
</body>

</html>

