<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include header %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-12" style="margin-top: 20px;">
                <h3>About Us</h3>
                <p>Search Dashboard is a Small Search Engine that can be used for small organisation or firm to research about itself.</p>
                <p>Contact Email : <a href="mailto:admin@searchdashboard.com">admin@searchdashboard.com</a></p>
            </div>
        </div>
    </section>
</div>
<% include footer %>
</body>

</html>

