<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include admin-header.ejs %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <form name="chat">
                <div class="col-md-12 chat-room">
                    <!--<div class="col-md-4" style="width:100px;border-right:1px solid black;height:300px;padding:10px;">
                        <b>ROOMS</b>
                        <div id="rooms"></div>
                    </div>-->
                    <div class="col-md-8">
                        <div id="conversation"></div>
                        <input id="data" class="form-control" value="" ng-model="txtchat" required style="float: left;width:40%" >
                        <input type="button" class="btn btn-danger" id="datasend" value="send" style="margin-left: 20px;" ng-disabled="chat.$invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<% include footer %>
</body>
</html>
<script>
    var socket = io.connect('http://localhost:1337/');

    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function(){
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        socket.emit('adduser', '<%= usersinfo[0].name; %>');
    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
    });


    function switchRoom(room){
        socket.emit('switchRoom', room);
    }

    // on load of page
    $(function(){
        // when the client clicks SEND
        $('#datasend').click( function() {
            var message = $('#data').val();
            $('#data').val('');
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', message);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function(e) {
            if(e.which == 13) {
                $(this).blur();
                $('#datasend').focus().click();
            }
        });
    });

</script>


