<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include header_logged.ejs %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page changepass" ng-controller="registerController">
            <h1>Change Password</h1>
            <form  name="register">
            <div class="form-group col-lg-12">
                <label>New Password</label>
                <input type="password" name="password" class="form-control" id="password" value="" ng-model="password"  required>
            </div>
            <div class="form-group col-lg-12">
                <label>Confirm New Password</label>
                <input type="password" name="password_c" class="form-control" id="password_c" value="" ng-model="password_c" valid-password-c required />
                <!--<span ng-show="pasword !== confirmPassword">Password mismatch</span>-->
                <!--<div class="msg-block" ng-show="register.$error"> <span class="msg-error" ng-show="register.pw2.$error.pwmatch">Passwords don't match.</span>-->
                <span style="color: red" ng-show="!register.password_c.$error.required && register.password_c.$error.noMatch && register.password.$dirty">Passwords do not match.</span>
            </div>
            <div class="form-group col-lg-12">
                 <input type="submit" name="" class="btn btn-danger" id="submit" value="Save" ng-disabled="register.$invalid">
            </div>
            </form>
            <div class="msg"></div>
        </div>
    </section>
</div>

<% include footer %>
</body>
</html>
<script>

    // On submit click method to get value and validation

    $(document).ready(function(){
        $("#submit").click(function(){
            var pass = $("#password").val();
            getAndRenderData(pass);
        });
        function getAndRenderData(pass) {
            var data = JSON.stringify({ password: pass });
            $.ajax({
                url: "http://localhost:1337/changePassword/",
                // the URL for the request
                type: "POST",
                // whether this is a POST or GET request
                contentType: "application/json",
                data: data,
                // the type of data we expect back
                success: function (responseJson) {
                    var obj = jQuery.parseJSON(responseJson);
                    $('.msg').empty();
                        $('.msg').append('<p>Password changed Successfully</p>');
                },
                error: function (xhr, status) {
                    // code run if request fails; raw request and status
                    console.log("Sorry, there was a problem!");
                },
                complete: function (xhr, status) {  	// code to run regardless of success or failure
                    console.log("The request is complete!");
                }
            })
        }
    });
</script>
