<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include header_logged.ejs %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <form name="searchdata">
            <div class="col-md-12">
                <div class="form-group" style="margin-top: 20px">
                    <div class="col-md-2">
                    <label for="search">Search Keyword :</label>
                        </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="search" required ng-model="search">
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-lg-2">
                    <label for="search">Choose Category :</label>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                <% for(var i=0; i<categorylist.length; i++) {%>
                    <div class="checkbox">
                        <label>
                        <input id="<%= categorylist[i].id %>" type="checkbox"><%= categorylist[i].name %></input>
                        </label>
                    </div>
                <ul>
                    <% for(var j=0; j<subcategorylist.length; j++) {%>
                    <% if(categorylist[i].id == subcategorylist[j].category_id) {%>
                    <div class="checkbox">
                    <label>
                    <input id="<%= subcategorylist[j].id %>" type="checkbox"><%= subcategorylist[j].name %>
                    </label>
                    </div>
                    <% } %>
                    <% } %>
                </ul>
                <% } %>
                </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"><button type="submit" id="submit" class="btn btn-primary" ng-disabled="searchdata.$invalid">Submit</button></div>
                </div>
                </form>
        </div>

        <div class="col-md-12" id="searchresult">

        </div>
    </section>
</div>

<% include footer %>
</body>
</html>
<script>
    $(document).ready(function(){
        $("#submit").click(function(){
            var search = $("#search").val();
            /*
             * Perform some validation here.
             */
            getAndRenderData(search);
        });
        function getAndRenderData(search) {
            var data = JSON.stringify({ keyword: search });
            $.ajax({
                url: "http://localhost:3000/searchResult/",
                // the URL for the request
                type: "POST",
                // whether this is a POST or GET request
                contentType: "application/json",
                data: data,
                // the type of data we expect back
                success: function (responseJson) {
                   // alert(responseJson);
                    var obj = jQuery.parseJSON(responseJson);
                    var objlength = obj.length;
                    if( objlength > 0) {
                        $('#searchresult').empty();
                        $.each(obj, function (key, value) {
                            $('#searchresult').append('<div class="col-md-12 list_result"><h4>' + value.name + '</h4><p>' + value.description + '</p><p><a href=' + value.website + '>' + value.website + '</a></p></div>');
                        });
                    } else {
                        $('#searchresult').empty();
                        //
                        $('#searchresult').append('<div class="col-md-12"><p>Sorry...No Keyword found..!! Search another keyword</p></div>');
                    }

                },
                error: function (xhr, status) {
                    // code run if request fails; raw request and status
                    console.log("Sorry, there was a problem!");
                },
                complete: function (xhr, status) {  	// code to run regardless of success or failure
                    console.log("The request is complete!");
                }
            })
        }
    });
</script>

