<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>a
<body  ng-app="myapp">
<% include header %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-6">
                <form name="login">
                    <h3 class="dark-grey">Forgot Password</h3>
                    <div class="form-group col-lg-12">
                        <label>Enter your existing Email</label>
                        <input type="email" name="email" class="form-control" id="email" value="" ng-model="email" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="submit" name="" class="btn btn-danger" id="submit" value="Login" ng-disabled="login.$invalid">
                    </div>
                </form>
            </div>

        </div>
    </section>
</div>
<% include footer %>
</body>

</html>
<script>
    $(document).ready(function(){
        var email,pass;
        $("#submit").click(function(){
            email=$("#email").val();
            pass=$("#password").val();
            /*
             * Perform some validation here.
             */
            if(email != 'admin@searchdashboard.com') {
                $.post("/login",{email:email,pass:pass},function(data){
                    if(data==='done')
                    {
                        window.location.href="/dashboard";
                    }
                    else {
                        // window.location.href="/login";
                        res.render('Login.ejs',{message:'errorMessage'});
                        //res.render('login',{user: "Great User",title:"homepage"});
                    }
                });
            } else {
                window.location.href = "/admin";
            }

        });
    });
</script>
