<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>a
<body  ng-app="myapp">
<% include header %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-6">
                <form name="fpass">
                    <h3 class="dark-grey">Forgot Password</h3>
                    <div class="form-group col-lg-12">
                        <label>Enter your Email</label>
                        <input type="email" name="email" class="form-control" id="femail" value="" ng-model="femail" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="submit" name="" class="btn btn-danger" id="submit" value="Submit" ng-disabled="fpass.$invalid">
                    </div>
                    <div id="fmessage" style="color: red"></div>
                </form>
            </div>

        </div>
    </section>
</div>
<% include footer %>
</body>

</html>
<script>

    // On submit click method to get value and validation

    $(document).ready(function(){
        var email,pass;
        $("#submit").click(function(){
            email=$("#femail").val();
                $.post("/fpassword",{email:email},function(data){
                    if(data==='done')
                    {
                        $("#fmessage").empty();
                        $("#fmessage").append("<p>We have sent email with link</p>");
                    }
                    else {
                        $("#fmessage").empty();
                        $("#fmessage").append("<p>email does not exist</p>");
                    }
                });

        });
    });
</script>
