i.glyphicon.glyphicon-calendar.fa.fa-calendar {
    position: absolute;
    margin-top: 34px;
    margin-left: -20px;
}
.list_result {
    border: 1px solid #ddd;
    margin-top: 10px; /*space*/
}
#searchresult {
    margin-top: 30px;
}
#message {
    width: 85%;
    float: left;
}
div#messages {
    margin-top: 12px;
}
#fname {
    float: left;
}
.chat-room {
    margin-top: 20px;
}
div#conversation {
    margin-bottom: 15px;
}
.edit_info {
    margin-top: 20px;
    margin-left: 290px;
}
.editprofile .form-control, .changepass .form-control {
    width: 50% !important;
}
.text-lowercase {
    text-transform: none !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {

}